[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=KIRTapp
Comment=KIRTapp
Icon=/usr/share/icons/secux.svg
Exec=/usr/bin/python /usr/local/bin/kirt-app/app_script/app.py
Terminal=false
Categories=Kirt;Secux;Face;Recognition
