[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Secux Linux Installer
Comment=Secux Linux distribution installer
Icon=org.secux.installer
Path=/usr/local/bin/secux-installer
Exec=/usr/bin/python /usr/local/bin/secux-installer/main.py
Terminal=false
X-GNOME-Autostart-enabled=true
Categories=Setup;Install;Secux;Linux;Installer
StartupWMClass=org.secux.installer
